@import "./../sass/main.scss";

.home {
  display: grid;
  grid-template-columns: 12rem 1fr;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  height: 100vh;
  color: var(--gray-2);
}

.categories {
  border-right: 0.7px solid var(--gray-3);
  padding: 0 1rem;
}

.container-list {
  padding: 0 1rem;
}
