.Home {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 12rem 1fr;
  padding: 1rem 0;
  min-height: calc(100vh - 3rem);
  color: var(--gray-2);
}

.Categories {
  border-right: 0.7px solid var(--gray-3);
  padding: 0 1rem;
}

.ContainerList {
  padding: 0 1rem;
}
