.section {
  width: 80%;
  margin: 0 auto;
}

.App {
  color: var(--gray-1);
}

.Navigation {
  padding: 1rem 1rem;
  background-color: var(--color-4);

  &__title {
    letter-spacing: 1px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      flex: 0 0 20%;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
      }
    }
  }
}

.Footer {
  position:absolute;
  bottom: -400px;
  background-color: var(--color-1);
  color: var(--color-4);
  padding: 2rem 0;
  width: 100%;

  &--links {
    width: 30%;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
      }
    }
  }

  &--copyright {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
