@import "./sass/main.scss";

.App {
  font-family: "Open Sans", sans-serif;
  color: var(--gray-1);
}

.header-title {
  cursor: pointer;
}

.header-bar {
  padding: 0.8rem 0rem;
  background-color: var(--color-4);

  &__title {
    color: var(--gray-2);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      flex: 0 0 20%;
      display: flex;
      justify-content: space-between;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }
}

.footer {
  //fixme
  margin-top: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-2);
  color: var(--color-4);
  height: $footer-height;
  padding: 3.5rem 0rem;

  &__container {
    //fixme
    width: 40%;
    text-align: center;
  }

  &__links {
    ul {
      font-size: 1.1rem;
      font-weight: 600;
      list-style: none;
      display: flex;
      justify-content: space-around;

      li {
        display: inline-block;
      }
    }
  }

  &__copyright {
    margin-top: 1.5rem;
    color: var(--color-3);
  }
}
